{
    "presets": ["next/babel"],
    "plugins": [["babel-plugin-styled-components", { "fileName": true, "displayName": true, "pure": true }]]
  }

  // plugin : 문법을 버전에 맞게 변환해주는 라이브러리들을 적어준다. 화살표 함수 변환자라던가..
  // presets : 많이 쓰는 플러그인들을 미리 모아둔 프리셋